@use 'base/variables' as v;
@use 'base/mixins' as m;

.contenedor-app {
  @include m.tablet {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 100vh;
  }

  .imagen {
    height: 20rem;
    background-image: url("../img/1.jpg");
    background-size: cover;
    background-position: center center;

    @include m.tablet {
      height: auto;
    }
  }

  .barra {
    display: flex;
    justify-content: flex-end; // Alinea los elementos hijos a la derecha
    align-items: center; // Opcional: centra los elementos hijos verticalmente

    .user-name {
      display: inline-block;
      margin-right: 1rem;
      background-color: v.$negroClaro;
      border-radius: 8px;
      padding: 1rem;
    }

    .log-out {
      display: flex;
      align-items: center;
      background-color: v.$negroClaro;
      border-radius: 8px;
      padding: 0.7rem;
      cursor: pointer;
    }

    h4 {
      color: v.$gris;
      text-align: left;
      font-weight: v.$regular;
      margin: 0;

      span {
        font-weight: v.$bold;
      }
    }
  }

  .app {
    width: 95%;
    margin: 0 auto;
    padding: 3rem 0;

    @include m.tablet{
      overflow: scroll;
    }
  }

  .barra-servicios{
    margin-bottom: v.$separacion;

    @include m.tablet{
      display: flex;
      justify-content: space-between;
      gap: 10px;
    }

  }
}